.header__box {
  position: relative;
  display: flex;
  background-image: url('../../images/header.png');
  background-position: center;
  background-position-y: calc(100% - 1rem);
  background-size: cover;
  background-repeat: no-repeat;
  width: 110%;
  height: 56rem;
  justify-content: space-between;
  color: #fff;

  .nav {
    position: relative;
    display: flex;
    margin-top: 3rem;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav__img {
    width: 10rem;
    height: 3rem;
    cursor: pointer;
  }

.nav__list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;
}

.nav__items {
  cursor: pointer;
  transition: transform 0.2s ;
  &:hover {
    transform: translate(-2px, 3px);
  }
  &:active {
    color: #ced1d3;
  }
}

.nav__items Link {
  cursor: pointer;
  transition: transform 0.2s ;
  &:hover {
    transform: translate(-2px, 3px);
  }
  &:active {
    color: #ced1d3;
  }
}

.nav__items:nth-child(4) {
  color: #efa244;
  border: 1px solid #efa244;
  border-radius: 2rem;
  padding: 0.5rem 1rem;

  &:active {
    color: #e8b545;
    border: 1px solid #e8b545;
  }
}

.nav__items:nth-child(6) {
  cursor: default;
  font-family: Fira Sans, serif;
  &:hover {
    transform: translate(0, 0);
    color: inherit;

  }
}

  &-right {
    position: absolute;
width: 30rem;
height: 30rem;
top: 9rem;
right: -6rem;
border: 5px solid rgba(255, 255, 255, 0.5);
border-radius: 50%;
transform: translateY(-100%);
transition: transform 1s ease, opacity 1s ease;
opacity: 0;

  }

  &-right.animate {
    opacity: 1;
    transform: translateY(0);
  }

  .header__banner-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__box-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
    
  }

  .header__left-title {
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: #f2f2f2;
    font-weight: 300;
    
  }

  .header__left-giscription {
    color: #d3d0d0;
    font-size: 2.2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 300;
  }

  .header__left-text {
    display: inline-block;
    font-size: 2rem;
    border: 2px solid white;
    padding: 5px;
    width: fit-content;
    border-radius: 15px;
    box-shadow: 3px 7px 5px 7px rgba(0, 0, 0, 0.3);
    font-weight: 300;
  }


.header__titles {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1s ease, opacity 1s ease;
}

.header__titles.animate {
  opacity: 1;
  transform: translateX(0);
}

.admin__btn {
  margin-top: 30px;
  font-family: Fira Sans, serif;
  font-size: 1.3rem;
  padding: 5px 20px;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  width: fit-content;
  cursor: pointer;
  &:hover {
    color: #ffdd00;
    border: 1px solid #ffdd00;

  }
}
}

