.login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;

  &__container {
    position: relative;
    width: 35rem;
    height: 40rem;
    box-shadow: 7px 15px 20px rgba(#000000, 0.6);
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 60%;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../../images/header.png);
      background-position-y: bottom;
      background-size: 40rem;
      background-repeat: no-repeat;
      transform: rotate(180deg); 
      z-index: -1;
    }
  }



  &__title {
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(180deg, #fa3fde, #4f43f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30px; 
    margin-bottom: 30px;
  }

  &__back {
    display: flex;
    position: relative;
justify-content: center;
    font-family: Fira Sans, serif;
    text-decoration: underline;
    color: #4c4cf6;
    transition: transform 0.2s ;
    width: 200px;

    &:hover {
      transform: translate(-2px, 3px);
    }
      

  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
gap: 30px;
margin-top: 20px;
font-family: Fira Sans, serif;
  }

  &__input {
    width: 80%;
    height: 3rem;
    border-radius: 0.3rem;
border: 1px solid #4f43f1;
padding-left: 20px;
font-size: 1.3rem;
transition: 0.3s;

&:hover {
  box-shadow: 2px 0px 15px rgba(#000000, 0.6);
}
  }

  &__input:focus  {
    border: 2px solid #fa3fde;
    outline: none;
  }

  .forgot__password {
    position: relative;
    margin-left: 60%;
    text-decoration: underline;
    color: #4c4cf6;
    margin-top: -30px;
    transition: transform 0.2s ;
    &:hover {
      transform: translate(-2px, 3px);
    }
      
  }

  &__btn {
    display: flex;
    position: relative;
    padding: 5px 20px;
    font-size: 1.2rem;
    color: #4f43f1;
    border: 1px solid #fa3fde;
    border-radius: 0.3rem;
    background-color: #fff;
    margin-bottom: 20px;
    transition: 0.3s;

    &:hover {
      box-shadow: 3px 7px 15px rgba(#000000, 0.6);
    }
  }

  &__with {
    text-align: center;
    font-size: 1.3rem;
    color: #4f43f1;
  }

  &__with-box {
    position: relative;
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 40px 0 20px 0;
  }

  &__with-img {
    position: relative;
    display: flex;
    width: 3rem;
    height: 3rem;
    transition: 0.3s;

    &:hover {
      border: 1px solid #4f43f1;
      border-radius: 50%;

    }
  }

  .registration__link {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: Fira Sans, serif;
    text-decoration: underline;
    color: #f2f2f2;
    transition: transform 0.2s ;
    &:hover {
      transform: translate(-2px, 3px);
    }
      
  }

  .user {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: Fira Sans, serif;
    margin-top: 30px;
    color: #fff;
  }

}