.home__order-box {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #e3e2e2, #7c7c7f);
  padding: 30px 10px;
  margin-bottom: 150px;
  border-radius: 0.5rem;
  box-shadow: 7px 15px 20px rgba($color: #000000, $alpha: 0.6);
}

.home__order-text {
  position: relative;
  font-family: Fira Sans, serif;
  cursor: default;
  font-size: 2rem;
  line-height: 1.2;
  background: linear-gradient(135deg, #000000, #4f43f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-indent: 3rem;
}

.home__do-order {
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #de3939;
  margin: 0 30px;
  white-space: nowrap; 

  &:hover {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #4f43f1;

  }
}

.home__do-order::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  border-bottom: 2px solid #de3939; 
}

.home__do-order:hover::after {
  border-bottom: 2px solid #4f43f1;
}
