.edit__product {
  font-family: Fira Sans, serif;
  position: relative;
  display: flex;
  gap: 3rem;
  margin: 3rem;

  .find__product {
display: flex;
position: relative;
margin-top: 3rem;

.edit__input {
  width: 11rem;
  height: 2rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
  font-family: Fira Sans, serif;
  border: 1px solid #4f43f1;
  padding-left: 5px;
  font-size: 1.3rem;
  transition: 0.3s;
  mt3rem

&:hover {
  box-shadow: 2px 0px 15px rgba(#000000, 0.6);
}
  &:focus  {
    border: 2px solid #fa3fde;
    outline: none;
      }

    }
  }
.btn__size {
  height: 2rem;
}

.btn {
  width: 8rem;
}
  .edit__product {
    position: relative;
    display: flex;
    flex-direction: column;

    .input__box {
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .product__input {
        width: 30rem;
        height: 3rem;
        padding: 0.3rem;
        font-family: Fira Sans, serif;
        border-radius: 0.3rem;
      border: 1px solid #4f43f1;
      padding-left: 20px;
      font-size: 1.3rem;
      transition: 0.3s;
    
    &:hover {
      box-shadow: 2px 0px 15px rgba(#000000, 0.6);
    }
      }
    
      &__input:focus  {
        border: 2px solid #fa3fde;
        outline: none;
      }
    }

    .product__textarea {
      width: 30rem;
      min-height: 8rem;
      padding: 0.3rem;
      font-family: Fira Sans, serif;
      border-radius: 0.3rem;
    border: 1px solid #4f43f1;
    padding-left: 20px;
    font-size: 1.3rem;
    transition:box-shadow 0.3s;
    resize: vertical;
  
  &:hover {
    box-shadow: 2px 0px 15px rgba(#000000, 0.6);
  }
  &:focus  {
    border: 2px solid #fa3fde;
    outline: none;
  }
    }

    .checkbox__box {
      position: relative;
      display: flex;
      align-items: center;
    }

    .product__checkbox {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1.5rem;
    }
  }
.image__box {
  position: relative;
  display: flex;
  align-items: center;
}

.image__server-box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttons__box {
  position: relative;
  display: flex;
  gap: 3rem;
}

.find__img, .preview__img {
  width: 10rem;
  height: 10rem;
}